body {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
}
body.ready {
  opacity: 1;
}
.logo-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top:  230px;
  border: 1px solid black;

}
.letters {
  position: relative;
  display: flex;
  width: 500px;
  height: 162px;
}
.letter {
  position: relative;
  width: 162px;
  height: 170px;
}
.letter:not(:first-child) {
  margin-left: -42px;
}
.letter-i {
  z-index: 1;
  width: 5px;
  transform-origin: 100% 50%;
}
