@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1000;
  text-align: center;
}

#text {
  margin-top: 15%;
}

#footer {
  margin-top: 20%;
}

.universal-inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.social-icons {
  text-align: center;
  font-family: "Open Sans";
  font-size: 2.5vw;
  color: #448aaf;
}

.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.social-icons ul li a {
  display: block;
  text-decoration: none;
}

.social-icons ul li a i {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.social-icons ul li a:hover i {
  color: #a1a1a1;
}

.social-icons ul li a:focus i, .social-icons ul li a:active i {
  -webkit-transition: none;
  transition: none;
  color: #a1a1a1;
}

#button {
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: #f1f1f1;
}

#button a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}

canvas {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

@media only screen and (max-width: 480px) {
  #button {
    font-size: 10px;
  }
}
